.reviews-admin {
	list-style: none;
	margin: 0;
	padding: 0;
	.reviews-admin-item {
		display: block;
		margin-bottom: 20px;
		padding-bottom: 15px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		.title {
			display: block;
			overflow: hidden;
			.name {
				display: inline-block;
				float: left;
				font-weight: bold;
				padding-bottom: 5px;
			}
			.options {
				display: inline-block;
				float: right;	
				font-size: .9em;
				padding-bottom: 5px;
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					overflow: hidden;
					li {
						float: right;
						margin-left: 5px;
						a {
							text-decoration: none;
							color: #333;
							display: block;
							padding-top: 2px;
							&.delete {
								color: #e83a3a;	
							}
							&.edit {
								color: #d99f00;	
							}
							&.approve {
								color: #12cb2e;	
							}
							&.disapprove {
								color: #aaa;	
							}
						}
					}
				}
			}
		}
		.meta {
			clear: both;
			display: block;
			overflow: hidden;
			.date {
				float: left;
				padding: 5px 0 5px 0;
				font-size: .8em;
				display: inline-block;
				.inner {
					background-color: #21bef8;
					color: #fff;	
					padding: 3px 5px;
					border-radius: 3px;
				}
			}
			.rating {
				float: left;
				display: inline-block;
				margin: 3px 0 0 10px;
				ul {
					display: inline-block;
					list-style: none;
					margin: 0;
					padding: 0;
					overflow: hidden;
					li {
						float: left;	
						margin-right: 2px;
					}
				}
			}
		}
		.message {
			
		}
	}
	.reviews-admin-item:last-child {
		margin-bottom: 0;	
		padding-bottom: 0;
		border-bottom: 0;
	}
}

#review-form {
	label {
		display: block;
		margin-bottom: 10px;
	}
	input[type=text] {
		display: block;
		margin-bottom: 10px;
		box-sizing: border-box;
		padding: 10px;
		width: 100%;
		margin-bottom: 10px;	
	}
	#rating-list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: block;
		overflow: hidden;
		margin-bottom: 10px;
		.star {
			float: left;
			width: 25px;
			height: 25px;
			padding-right: 7px;
			font-size: 21px;
			.span {
				color: #fff;
			}
			&.last {
				padding-right: 10px;
			}
		}
		.star:hover {
			cursor: pointer;
		}
		#rating-text {
			width: auto;
			font-size: 1.1em;
			padding-top: 3px;
		}
	}
	textarea {
		display: block;
		margin-bottom: 20px;
		height: 300px;
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
	}
	input[type=submit] {
		font: 100% arial; 
		border: none;
		padding: 0 20px;
		background-color: #08b429;
		color: #fff;
		border: 0;
		border-radius: 3px;
		transition: background-color .7s;
		heigth: 36px;
		line-height: 36px;
		margin-right: 5px;
	}
	input[type=submit]:hover {
		background-color: #418605;
	}
}

.submit-link {
	font: 100% arial; 
  	border: none;
	padding: 10px 20px;
	background-color: #08b429;
	color: #fff;
	border: 0;
	border-radius: 3px;
	transition: background-color .7s;
	heigth: 36px;
	line-height: 36px;
}
.submit-link:hover {
	background-color: #418605;
	color: #fff;
	text-decoration: none;
}
.cancel-link {
	font: 100% arial; 
  	border: none;
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border: 0;
	border-radius: 3px;
	heigth: 36px;
	line-height: 36px;
	transition: background-color .7s;
}
.cancel-link:hover {
	background-color: #717171;
	color: #fff;
	text-decoration: none;
}

#delete-review {
	.message {
		display: block;
		margin-top: 10px;
		background-color: #f5f5f5;
		padding: 10px;
		border-radius: 3px;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		li {
			float: left;
			height: 36px;
			margin-right: 10px;
			box-sizing: border-box;
			input[type=submit]{
				font: 100% arial; 
				border: none;
				padding: 0 20px;
				background-color: #08b429;
				color: #fff;
				border: 0;
				border-radius: 3px;
				transition: background-color .7s;
				heigth: 36px;
				line-height: 36px;
				margin-right: 5px;
			}
		}
	}
}

