@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?2t5erc');
	src:url('../fonts/icomoon.eot?#iefix2t5erc') format('embedded-opentype'),
		url('../fonts/icomoon.woff?2t5erc') format('woff'),
		url('../fonts/icomoon.ttf?2t5erc') format('truetype'),
		url('../fonts/icomoon.svg?2t5erc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-star-empty:before {
	content: "\e9d7";
}

.icon-star-half:before {
	content: "\e9d8";
}

.icon-star-full:before {
	content: "\e9d9";
}

