@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 

html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ 	
	font: normal 80% Arial, Helvetica, sans-serif;
  	color: #FFF;
  	background-image: url(../img/background.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

p
{ padding: 0 0 10px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 250% 'News Cycle', Arial, sans-serif;
  color: #FFF;
  letter-spacing: -1px;
  margin: 0 0 10px 0;}

h2
{ font-size: 165%;}

h3
{ font-size: 130%;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 0px 0;
  font-size: 150%;
  color: #FFF;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% Arial, Helvetica, sans-serif;
  color: #888;
  padding-bottom: 15px;}
  
span
{ color: #1A6FFD;}

a, a:hover
{ color: #FFF;
  background: transparent;
  outline: none;
  text-decoration: none;}

a:hover
{ text-decoration: underline;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, header, #banner, #menubar, #site_content, footer, #content_grey, nav
{ margin-left: auto; 
  margin-right: auto;}

#main
{ background: transparent;}
  
header
{ height: 120px;}

#banner
{ width: 940px;
  position: relative;
  height: 50px;
  padding: 15px 0 0 0;
  background: transparent;}
 
nav
{ height: 50px;}  
  
#menubar
{ width: 940px;
  height: 50px;
  text-align: center; 
  margin: 0 auto;
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  -webkit-border: 7px 7px 0px 0px;} 
  
#welcome
{ width: 880px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;} 
  
#welcome_slogan
{ width: 880px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;}   
   
#welcome H3
{ font: normal 300% 'News Cycle', Arial, sans-serif;
  letter-spacing: -3px;
  text-shadow: 0px -1px 0px #000;
  color: #FFF;}

#welcome_slogan H3
{ font: normal 200% 'News Cycle', Arial, sans-serif;
  letter-spacing: -2px;
  text-shadow: 0px -1px 0px #000;
  color: #FFF;}  
  
ul#nav
{ margin:0;}

ul#nav li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#nav li a
{ float: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  height: 24px;
  margin: 10px 0 0 20px;
  text-shadow: 0px -1px 0px #000;
  padding: 6px 20px 0 20px;
  background: transparent; 
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  text-align: center;
  color: #FFF;
  text-decoration: none;} 
  
ul#nav li.current a
{ color: #FFF;
  background: #43A9FF;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);  
  text-shadow: none;}
  
ul#nav li:hover a
{ color: #FFF;
  background: #43A9FF;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  text-shadow: none;}

#site_content
{ width: 940px;
  overflow: hidden;
  margin-bottom: 30px;
  background: transparent url(../img/transparent.png) repeat;
  border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-border: 0px 0px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;} 

.sidebar_container
{ float: left;
  margin: 20px 0 0 10px;
  width: 210px;
  padding: 0;}

.sidebar
{ float: left;
  width: 190px;
  padding-left: 10px;
  margin-bottom: 10px;}

.sidebar_item
{ font: normal 100% Arial, Helvetica, sans-serif;
  width: 190px;}

.sidebar h2
{ padding: 5px 0 0 0;
  font-size: 200%;}  

#content
{ width: 700px;
  margin: 0 20px 20px 0;
  float: right;}

.content_item
{ width: 700px;
  margin-top: 20px;
 }
 
.content_imagetext
{ width: 680px;
  padding: 5px;
  margin: 20px 0 0 0;
  float: left;}
 
.content_image
{ float: left; 
  width: 150px;
  margin: 0 20px 10px 0;
  padding: 10px;
  -moz-box-shadow:    inset 0 0 20px #ADADAD;
  -webkit-box-shadow: inset 0 0 20px #ADADAD;
  box-shadow:         inset 0 0 20px #ADADAD;}
  
.content_container
{ width: 320px;
  padding: 5px;
  margin: 20px 10px 0 0;
  float: left;}
  
footer
{ width: 940px;
  height: 19px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: bold;
  text-align: center; 
  background: transparent url(../img/transparent.png) repeat;
  border-radius: 15px;
  -moz-border-radius: 15px 15px 0px 0px;
  -webkit-border: 15px 15px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;

	margin-bottom: 30px;
}
footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
}
footer ul li {
	display: inline-block;
	padding: 0 15px 0 10px;
	border-right: 2px solid rgba(255, 255, 255, 0.5);
}
footer ul li:last-child {
	border-right: 0;
}

footer a, footer a:hover
{ text-decoration: none;
  padding-bottom: 20px;}

footer a:hover
{ text-decoration: underline;}

footer a, footer a:hover
{ text-decoration: none;}

footer a:hover
{ text-decoration: underline;}
  
 .readmore a
{ color: #FFF;}
 
 .button_small
{ font: normal 110% Arial, Helvetica, sans-serif;
  width: 80px;
  padding: 5px 2px 7px 2px;
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}
  
.button_small a
{ color: #FFF;
  padding-left: 5px;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 280px; 
  text-align: left;
  text-shadow: none;
  color: #FFF;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings input[type="checkbox"]
{ padding: 2px 0; 
  width: 15px; 
  font: 100% arial; 
  border: 0; 
  background: #FFF; 
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: 100% arial; 
  border: none; 
  height: 35px;
	line-height: 35px;
  padding: 0 20px;
  cursor: pointer; 
  background-color: #1A6FFD;
	transition: background-color .7s;
	border-radius: 3px;
	/**
  -moz-box-shadow:    inset 0 0 10px #002C6E;
  -webkit-box-shadow: inset 0 0 10px #002C6E;
  box-shadow:         inset 0 0 10px #002C6E; 
	**/
  color: #FFF;}

.form_settings .submit:hover {
	background-color: #5e9bff;
}

/* styling for the slideshow on the homepage */
ul.slideshow {
  list-style: none;
  width: 680px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: 20px 0 0 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;}
 
#slideshow-caption {
  width: 680px;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 10px 25px 10px 25px; 
  background: transparent url(../img/transparent.png) repeat;  
  z-index: 1000;}
 
#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;
  color: #FFF;
  text-shadow: 1px 1px #000;}
 

.margin-top-20 {
	margin-top: 20px;
}

#contact-form label {
	display: block;
	margin: 10px 0;
}
#contact-form input[type=text], #contact-form input[type=email] {
	display: block;
	margin-bottom: 10px;
	box-sizing: border-box;
	padding: 10px;
	width: 500px;
}
#contact-form textarea {
	display: block;
	margin-bottom: 20px;
	height: 300px;
	width: 500px;
	padding: 10px;
	box-sizing: border-box;
}

#price-list {
	list-style: none; margin: 0; padding: 0; overflow: hidden;
}
#price-list li {
	float: left;
	width: 33%;
	margin-bottom: 5px;
}
#price-list li:nth-child(3){
	text-align: right;
}
#price-list li ul li:nth-child(3){
	text-align: left;
}
#price-list li:nth-child(3) ul li:nth-child(3){
	text-align: right;
}
#price-list li ul {
	list-style: none; margin: 0; padding: 0;
}
#price-list li ul li {
	display: block;
	width: 100%;
}

.lijst {
	margin: 0 0 15px 30px;
}
.lijst li {
	margin-bottom: 3px;
}

#relativity {
	position: relative;
}
#relativity .top-right {
	position: absolute;
	top: 10px;
	right: 0;
	font-size: 1.4em;
}
#review-form label {
	display: block;
	margin-bottom: 10px;
}
#review-form input[type=text] {
	display: block;
	margin-bottom: 10px;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	margin-bottom: 10px;
}
#review-form #rating-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
}
#review-form #rating-list .star {
	float: left;
	width: 25px;
	height: 25px;
	padding-right: 7px;
	font-size: 25px;
}
#review-form #rating-list .star:hover {
	cursor: pointer;
}
#review-form #rating-list .star span {
	color: #fff;
}
#review-form #rating-list .star.last {
	padding-right: 10px;
}
#review-form #rating-list #rating-text {
	width: auto;
	font-size: 1.1em;
	padding-top: 3px;
}
#review-form textarea {
	display: block;
	margin-bottom: 20px;
	height: 300px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
#review-form input[type=submit] {
	font: 100% arial; 
  border: none; 
  height: 35px;
	line-height: 35px;
  padding: 0 20px;
  cursor: pointer; 
  background-color: #1A6FFD;
	transition: background-color .7s;
	border-radius: 3px;
	color: #fff;
}
#review-form input[type=submit]:hover {
	background-color: #5e9bff;
	cursor: pointer;
}

/***********************************
 *
 * Reviews overzicht
 *
 **********************************/

#review-lijst {
	list-style: none;
	margin: 0;
	padding: 0;
}
#review-lijst li {
	display: block;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 10px;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 20px;
}
#review-lijst li .title {
	display: block;
	overflow: hidden;
}
#review-lijst li .title .name {
	float: left;
	color: #333;
	font-size: 1.4em;
}
#review-lijst li .title .name .date {
	display: block;
	font-size: .6em;
	color: #333;
}
#review-lijst li .title .rating {
	float: right;
	padding-top: 6px;
}
#review-lijst li .title .rating .rating-stars {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#review-lijst li .title .rating .rating-stars li {
	float: right;
	/* reset some inherited properties.. do not touch pretty please */
	border-radius: 0;
	background-color: transparent;
	padding: 0;
	margin: 0;
}
#review-lijst li .title .rating .rating-stars li span {
	color: #333;
	font-size: 20px;
	margin-right: 5px;
}
#review-lijst li .title .rating .rating-stars .rating-text {
	color: #333;
	padding-top: 1px;
	margin-right: 10px;
}
#review-lijst li .message {
	clear: both;
	display: block;
	color: #333;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 10px;
}